/* nav bar */
.home {
  background-image: url("./images/backgroundClouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.nav {
  background-color: #033148;
  padding: 10px;
}

.navtitle a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navtitle img {
  margin: 10px;
  height: 40px;
}

.navtitle h1 {
  font-size: 30px;
  color: #56c7e6;
}

.container {
  margin: 50px 30%;
  background-color: #033148;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.selectCity {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectCity label {
  margin-right: 20px;
}
